.page-title {
  position: absolute;
  top: 5%; /* I set this back to 25%, 7% is very high */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 10;
}